h1 {
  display: inline;
  color: #2b4353;
  font-size: 18px;
}

.box {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border: 3px solid #2b4353;
  border-radius: 20px;
  width: 650px;
  padding: 10px 10px;
}

#current-location {
  font-size: 15px;
  margin-bottom: 6px;
  padding-right: 40px;
}
form {
  font-size: 20px;
  padding: 20px 65px;
}
h4 {
  font-size: 10px;
}

.location {
  text-align: center;
  padding: 10px 10px;
  margin: 6px 5px;
}

#city {
  color: #2b4353;
  font-size: 28px;
}
#sky {
  color: #2b4353;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -22px;
  text-align: center;
}
h5 {
  font-size: 15px;
}
p.sun {
  font-size: 40px;
  padding-bottom: -15px;
  margin-top: -42px;
}

.text-muted {
  color: grey;
  font-size: 10px;
}
.data {
  text-align: center;
  margin: 15px 15px;
}

p {
  color: #2b4353;
  text-align: center;
}
#data-box {
  font-size: 15px;
  padding: 6px;
}

.week {
  color: #2b4353;
  font-size: 30px;
  margin: 5px 30px;
  margin-left: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 5px 45px;
  font-family: "Lucida Sans";
}
.col {
  text-align: center;
  padding-left: 2px;
}

.row {
  padding: 13px 40px;
}

span {
  color: #2b4353;
  font-size: 18px;
  margin: 5px 55px;
}
#degrees {
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
  margin-left: 49px;
  margin-right: -20px;
}

.celsius {
  color: #2b4353;
  font-size: 20px;
  text-decoration: none;
}
.fahrenheit {
  color: #2b4353;
  font-size: 20px;
  text-decoration: none;
}
.source {
  font-size: 15px;
  margin-left: -390px;
  text-decoration: none;
}
.coder {
  color: #2b4353;
  font-size: 13px;
  font-weight: bolder;
  margin: 0 auto;
}
