.search-box {
  margin: 25px;
}
.box {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #2b4353;
  border-radius: 10px;
  width: 650px;
  padding: 30px;
}
h1 {
  margin-left: 10px;
  margin-bottom: 5px;
  color: #2b4353;
  font-size: 18px;
}
.weather-data-box {
  text-align: center;
  padding: 25px 30px;
  margin: 35px 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}
#weather-analysis-box {
  border: 1px solid #ced4da;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 35px;
  padding: 45px 40px;
  text-align: center;
}

#humidity,
#wind,
#pressure {
  color: #2b4353;
}
h4 {
  font-size: 10px;
}

#city {
  color: #2b4353;
  font-size: 28px;
}
#sky {
  color: #2b4353;
  font-size: 15px;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -22px;
  text-align: center;
}

.weather-icon img {
  margin-top: -40px;
  padding-right: 15px;
}

.high-low {
  text-align: center;
  padding: 10px 10px;
}

#degrees {
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
  margin-left: 9px;
  margin-right: 20px;
}

.celsius {
  color: #2b4353;
  font-size: 20px;
  text-decoration: none;
}
.fahrenheit {
  color: #2b4353;
  font-size: 20px;
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #2b4353;
}
.weather-forecast-date {
  font-size: 15px;
  margin: 15px;
}
.weather-forcast-temperatures {
  padding: 10px;
}
small {
  margin-left: 430px;
  color: #2b4353;
  font-weight: 600;
  font-size: 13px;
}
